In [1]:
import pandas as pd
import numpy as np
import datetime as dt

import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style("white")

from sklearn.cluster import KMeans

from sklearn.metrics import silhouette_score

from sklearn.preprocessing import StandardScaler
from pyspark.sql import SparkSession
import warnings
warnings.filterwarnings('ignore')

In [2]:

spark = SparkSession.builder \
    .appName('Ingest checkin table into bronze') \
    .master('spark://spark-master:7077') \
    .config("hive.metastore.uris", "thrift://hive-metastore:9083")\
    .config("spark.hadoop.fs.s3a.access.key", 'minio') \
    .config("spark.hadoop.fs.s3a.secret.key", 'minio123') \
    .config("spark.hadoop.fs.s3a.endpoint", 'minio:9000')\
    .config("spark.hadoop.fs.s3a.path.style.access", "true")\
    .config("spark.hadoop.fs.s3a.impl", "org.apache.hadoop.fs.s3a.S3AFileSystem") \
    .config("spark.hadoop.fs.s3a.connection.ssl.enabled", "false")\
    .config('spark.hadoop.fs.s3a.aws.credentials.provider', 'org.apache.hadoop.fs.s3a.SimpleAWSCredentialsProvider')\
    .config("spark.sql.extensions", "io.delta.sql.DeltaSparkSessionExtension") \
    .config("spark.sql.catalog.spark_catalog", "org.apache.spark.sql.delta.catalog.DeltaCatalog")\
    .config('spark.sql.warehouse.dir', f's3a://lakehouse/')\
    .enableHiveSupport()\
    .getOrCreate()

In [21]:
customer = spark.read.table("silver.cleaned_customer")
order_item = spark.read.table("silver.cleaned_order_item")
order = spark.read.table("silver.cleaned_order")
payment = spark.read.table("silver.cleaned_payment")
product = spark.read.table("silver.cleaned_product")
order_review = spark.read.table("silver.cleaned_order_review")
translate  = spark.read.table("silver.cleaned_product_category")

In [22]:
olist_customer = customer.toPandas()
olist_order = order.toPandas()
olist_item = order_item.toPandas()
olist_payment = payment.toPandas()
olist_product = product.toPandas() 
olist_customer = customer.toPandas()
olist_review = order_review.toPandas()
olist_translate = translate.toPandas()

In [33]:
df_olist = pd.merge(olist_order, olist_item, on='order_id', how='left')
df_olist = pd.merge(df_olist, olist_product, on='product_id', how='inner')
df_olist = pd.merge(df_olist, olist_payment, on='order_id', how = 'left')
df_olist = pd.merge(df_olist, olist_review, on='order_id', how='left')
df_olist = pd.merge(df_olist, olist_customer, on='customer_id', how='right')
df_olist = pd.merge(df_olist, olist_translate, on='product_category_name', how='inner')

In [34]:
df_olist.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,order_item_id,product_id,...,review_id,review_score,review_comment_message,review_creation_date,review_answer_timestamp,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,product_category_name_english
0,ea39d327906c9e8540a9b0f5004dcf46,0054556ea954a76ad6f9c4ba79d34a98,delivered,2017-08-08,2017-08-09,2017-08-10,2017-08-18,2017-09-05,1.0,fe6e5de30335f28d5c71820661ce4019,...,NaN,NaN,NaN,NaN,NaN,3cc8e80baa86a7befe2b24568cd0faf0,95680,canela,RS,auto
1,97514c152882f3625b91ce58ddc0c3b6,24d4b8f86f9a112d72f1a22858fbd636,delivered,2017-09-21,2017-09-21,2017-09-21,2017-09-28,2017-10-17,1.0,9ddc4249779322828f89d2a9c04f7ee1,...,0ed3d4c8a6c3964c0e8f5fd4aabc7fb6,5.0,Ok,2017-09-29 00:00:00,2017-10-02 01:03:44,5ff5bb137879b2b1e5d637e5c27e86ef,71010,brasilia,DF,auto
2,dd4d68bbd3083ae0ee1f51019cffc924,2dfdcbb5e15acdd672fbb17cee980938,delivered,2018-01-26,2018-01-26,2018-01-30,2018-02-06,2018-02-26,1.0,feb593f17c2f51af2932dbba3e99f1cb,...,NaN,NaN,NaN,NaN,NaN,d8d75970c291db47f7cc563585578711,6694,itapevi,SP,auto
3,ec328869ec9d309e95ca9e78b1e81b4b,399f770d21c854e81fde65dd3406b987,delivered,2018-04-07,2018-04-07,2018-04-10,2018-04-19,2018-04-27,1.0,73a1c27772beb35c2b0caf9a809570f8,...,NaN,NaN,NaN,NaN,NaN,9350b6236d8648f6eef79b0bb562b5f7,17560,vera cruz,SP,auto
4,3202ed2f2aeb0f12728c23faf6b61bf8,3f746b19aced0452de93862d6ddef4ab,delivered,2018-05-03,2018-05-04,2018-05-04,2018-05-09,2018-05-28,1.0,fc9ccf6863eb3c05fbaa46d4382540e7,...,1973c2f85d80cc3a97db69d0e70726ab,3.0,Na verdade estou esperando resolver o meu caso...,2018-05-10 00:00:00,2018-05-11 04:48:21,ba67c51c5bc41f3cd66f01acacd21ce7,89022,blumenau,SC,auto

In [35]:
df_olist.columns

Index(['order_id', 'customer_id', 'order_status', 'order_purchase_timestamp',
       'order_approved_at', 'order_delivered_carrier_date',
       'order_delivered_customer_date', 'order_estimated_delivery_date',
       'order_item_id', 'product_id', 'seller_id', 'shipping_limit_date',
       'price', 'freight_value', 'product_category_name',
       'product_name_length', 'product_description_length',
       'product_photos_qty', 'product_weight_g', 'product_length_cm',
       'product_height_cm', 'product_width_cm', 'payment_sequential',
       'payment_type', 'payment_installments', 'payment_value', 'review_id',
       'review_score', 'review_comment_message', 'review_creation_date',
       'review_answer_timestamp', 'customer_unique_id',
       'customer_zip_code_prefix', 'customer_city', 'customer_state',
       'product_category_name_english'],
      dtype='object')

In [36]:
df_olist_clean = df_olist.drop(columns=['order_status', 'order_approved_at', 'order_delivered_customer_date', 'order_delivered_carrier_date', 'order_delivered_customer_date', 
                                  'order_estimated_delivery_date', 'seller_id', 'shipping_limit_date','product_category_name', 'product_name_length', 
                                  'product_description_length', 'product_weight_g', 'product_length_cm', 'product_height_cm', 'product_width_cm',
                                  'payment_installments','review_id', 'review_comment_message', 'review_creation_date', 
                                  'review_answer_timestamp', 'customer_id', 'customer_city', 'customer_state', 'product_photos_qty', 'freight_value', 'payment_sequential'])

In [37]:
df_olist_clean.isnull().sum()

order_id                             0
order_purchase_timestamp             0
order_item_id                        0
product_id                           0
price                                0
payment_type                         3
payment_value                        3
review_score                     67117
customer_unique_id                   0
customer_zip_code_prefix             0
product_category_name_english        0
dtype: int64

In [38]:
df_olist_clean.duplicated().sum()

785

In [43]:
df_olist_clean[df_olist_clean.duplicated()].head()

Empty DataFrame
Columns: [order_id, order_purchase_timestamp, order_item_id, product_id, price, payment_type, payment_value, review_score, customer_unique_id, customer_zip_code_prefix, product_category_name_english]
Index: []

In [44]:
df_olist_clean = df_olist_clean.drop_duplicates()

In [45]:
df_olist_clean.dtypes

order_id                                 object
order_purchase_timestamp         datetime64[ns]
order_item_id                           float64
product_id                               object
price                                   float64
payment_type                             object
payment_value                           float64
review_score                            float64
customer_unique_id                       object
customer_zip_code_prefix                  int64
product_category_name_english            object
dtype: object

In [46]:
df_olist_clean.shape

(114421, 11)

In [47]:
df_olist_clean.sample(20)

,order_id,order_purchase_timestamp,order_item_id,product_id,price,payment_type,payment_value,review_score,customer_unique_id,customer_zip_code_prefix,product_category_name_english
56595,c1f534b2a0002528a5e5e5001f6be004,2018-01-29,1.0,98a940d42d3ac029e40441023676ddfe,209.00,credit_card,508.62,NaN,d6fe421fb93c14b6f949f59c86986d22,64202,sports_leisure
52963,a732abf936fdc135108293662d03b027,2017-09-13,1.0,cb57afec681197430ddab41d90304aba,47.49,boleto,61.59,NaN,b190cb52d5cc02cfc8f6cb3abe76806b,90010,sports_leisure
23996,e2d992dfb23aa5b768db449b84b8200b,2018-04-17,2.0,63c6e184ddfd2f0879921b9455b21067,79.99,credit_card,464.95,NaN,c3ad54d23737424e27df79e49a86a673,17600,computers_accessories
59754,92a9ef7f0a0d392c9ad0d5f44e86b4ba,2018-03-25,2.0,9f1c3e71d56894398a42b050b07f1baa,11.87,voucher,0.14,3.0,c375736396906dff8414217e02c45661,13050,cool_stuff
96987,3edd1b04b1ee7569080c9e234c2b029f,2017-09-24,1.0,741e14d6cfe9c7dfcace49c4a0989bf3,130.00,credit_card,296.32,1.0,586ed45ee165fde92d19ce4a4310cd1b,98910,baby
110070,311155a0f4009bd8e4936e0ce45324ae,2017-11-20,1.0,653b6b1217fba117599afcc015ffd50a,164.90,boleto,831.72,NaN,2d1cbd0bb1601913f4744d84c932c64b,4151,construction_tools_safety
102886,51c3d73e0e905225319f9ae8b56837fb,2018-02-17,1.0,461f43be3bdf8844e65b62d9ac2c7a5a,146.92,credit_card,159.45,NaN,e2916d57d80b7be2148a7cf62006d910,9846,watches_gifts
21922,a7440cf5201c30463ff889fd4a6088ff,2018-03-29,1.0,fe077ec80df6b4ee60bb4498d5ab1962,135.00,credit_card,152.51,5.0,6cf5a61d865d979d060812cdb48ce484,86049,computers_accessories
102963,1f8956ea49b1eba62dd40aa5f7ac9133,2017-08-18,1.0,e2bb00220a167d9e60b6776ac33717bc,56.00,credit_card,140.28,NaN,1711d45a24a27a32bdf35537e866d0f4,74280,watches_gifts
18736,82684397b8f36fa2cb233b1c0bbf2298,2017-11-27,1.0,bee2e070c39f3dd2f6883a17a5f0da45,140.00,boleto,155.73,5.0,6a0c5a04e9bc7723d811cb58dfe7b29c,88330,computers_accessories
22966,74b1932a11b0d28d122ee5572b5ea7d1,2018-03-14,1.0,fb4d1630e90ffc0922d25bffe2cd489e,70.00,credit_card,83.61,4.0,dd4dd018a825b5a46fd15d2aed81e630,1416,computers_accessories
89638,08f037463ef8a43a35237ad2029f316b,2018-05-22,1.0,4501cf8b9a1915bbfb91d227cd2f1c7e,32.99,debit_card,47.43,3.0,489ff79f7fc2564021169d12099dd000,15025,pet_shop
20365,60c293e54649a6dae7403487d4c21b2c,2018-03-20,1.0,ee6c49af1a2de55aa0e076257ab4ab99,169.90,credit_card,187.63,NaN,456a2b794566e6029a193699223e52e0,88309,computers_accessories
112962,04e00ba23c33890eaee39b02e8185cc2,2018-07-25,1.0,674005996f7500049a539559eeec5b76,33.90,credit_card,53.41,NaN,122b19f1369e5529fe5ddb08b6daec8f,21630,agro_industry_and_commerce
33199,70c3ef96b8128e86a710aea11adf6e63,2017-12-20,1.0,352710ec4fab1854c11d4044880afff3,19.90,credit_card,28.17,NaN,3306bb0fba2158eab5efeccddc6dd5e1,13060,telephony
90706,31a5a68f9d077c999f8b5b3dc297989c,2018-01-02,1.0,b44922681ddcd1565a9d62932f20dcfe,13.30,boleto,28.40,NaN,580561d937f063a0c4ffe1e4832df2f5,85660,pet_shop
86383,e524a1d7796e94896f17636abddaafe5,2018-07-13,1.0,61d83b8d80a61b5fd688471b5b273b5f,325.54,credit_card,345.92,5.0,3477c1029e8d4e8be99f8c139d130119,91530,perfumery
18645,8cd8ab3299e57a72f3b279754fc9847f,2017-09-08,1.0,e8b2fecb5049dcecf8c1ff4cfdb03c61,29.35,credit_card,38.69,4.0,b12fb4939476e92d9490ab46c7006675,9330,computers_accessories
57063,4a71e2b3cccb7dba085c8961c746578f,2018-02-22,1.0,44a34214a57dc373dcd80f54c919d006,29.50,boleto,45.61,NaN,579a8e5987c00f125ea993640855f3cb,92310,sports_leisure
12145,71c467da99c1f688a401a10d9ba6814d,2018-08-14,1.0,3932e37f1f658768ac53fbe680f145bc,51.90,credit_card,75.06,1.0,7aa39b5004216556ea3013c7ae23ba40,21853,bed_bath_table